@import url('./reset.css');

html,
body {
	margin: 0;
	padding: 0;
}
:root {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	font-size: 16px;
	color: #4b5259;
}

.container {
	max-width: 62rem;
	padding: 0 1rem;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: center;
}
.flex.-space-between {
	justify-content: space-between;
}

.card {
	border: thin solid #e0e5e9;
	padding: 0.5rem;
	border-radius: 0.5rem;
	width: 100%;
}

p {
	line-height: 1.5;
	margin: 0.5rem 0 0;
}
